body{
    background: cornsilk;
    overflow: hidden;
    color: white;
}

.heading{
    background-color: royalblue;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bbutton{
    float: right;
    margin: -5px;
    background-color: cornsilk;
    color: grey;
}

canvas{
    margin-top: 130px;
    border: 5px solid blue;
    border-radius: 20px;
}